<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /cgd102/g1/back-station
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /cgd102/g1/back-station/index.html [L]
</IfModule>