.page_section{
    margin-top: 80px;
    margin-left: 230px;
}
.project_header{
    padding: 20px 0 0 120px;
    display: flex;
    justify-content: space-between;
    .router_name{
        font-size: 28px;
        font-weight: 600;

    }
}
form  {
    margin: 20px;
    padding-top: 30px;
    padding:20px 120px;
    font-size: 20px;
    div{
        padding: 10px;
    }
    input{
        width: 60%;
        height: 30px;
        margin-left: 30px;
        letter-spacing: 1px;
        border-radius: 5px;
        padding: 10px 10px;
        margin-bottom: 20px;  
        font-size: 16px;  
    }
    select{
        width: 13%;
        height: 30px;
        margin-left: 30px;
        letter-spacing: 1px;
        border-radius: 5px;
        margin-bottom: 20px;
        font-size: 16px;
    }
    textarea{
        width: 60%;
        height: 300px;
        margin-left: 30px;
        letter-spacing: 1px;
        border-radius: 5px;
        padding: 10px 10px;
        margin-bottom: 20px;   
        resize: none;
        font-size: 16px;
    }
}
#tent_info{
    height: 100px;
}
.btn{
    margin: 20px;
    display: flex;
    flex-direction: row-reverse;
}
button{
    margin: 0 6px;
    width: 70px;
    height: 40px;
    border: 1px solid #454545;
    border-radius: 5px;
    color: #454545;
    background-color: #FFFFFF;
}
button:hover{
    cursor: pointer;
    color: #FFFFFF;
}
.breadcrumb{
    display: flex;
    font-size: 16px;
    a{
        color: #000;
    }
}