.header_section{
    width: 80%;
    position: fixed;
    top:0;
    right: 0;
    z-index: 444;
}
.project_nav{
    height: 70px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0 2px 2px 0 rgb(32, 33, 36, 10%);
}
.nav_serch{
    display: flex;
    align-items: center;
}
.header_title{
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #454545;
}
.nav_serch input{
    width: 300px;
    height: 40px;
    padding: 10px;
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 5px;
    background-color: #F3F3F9;
}
.nav_logout{
    width: 80px;
    height: 40px;
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #168D80;
}
.nav_logout:hover{
    background-color: #0E685E;
}
.logout_btn{
    color: #FFFFFF;
    font-size: 18px;
    letter-spacing: 2px;
}
.nav_right{
    display: flex;
}
.nav_account{
    display: flex;
    margin-left: 20px;
    padding: 15px;
    background-color: #F3F3F9;
}
.account_photo{
    margin-right: 10px;
    width: 40px;
    height: 40px;
}
.account_text{
    margin: auto;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #454545;
}
