.page_section{
    width: 80%;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 20%;
}
.serch_bar{
    margin: 40px 0px;
    display: flex;
    flex-direction:row-reverse;
    button{
        a{
            color: #FFFFFF;
        }
    }
}
.serch_bar input{
    width: 200px;
    height: 40px;
    margin: 0 10px;
    padding: 10px;
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 5px;
    background-color: #FFFFFF;
}
button{
    margin: 0 6px;
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 2px;
    color: #FFFFFF;
    background-color: #168D80;
}
button:hover{
    border: none;
    background-color: #0E685E;
    cursor: pointer;
}
.table_roll{
    width: 100%;
    overflow-x: scroll;
}
table{
    min-width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;
    overflow-x: scroll;
}
th, td{
    text-align: justify;
    padding: 14px 12px;
    font-size: 14px;
    max-width: 200px;
    min-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-shadow: 0px 0px 8px 8px rgb(0, 0, 0, 10%);
}
th, td{
    text-align: center;
    padding: 26px 12px;
    font-size: 18px;
}
th{
    color: #FFFFFF;
    font-weight: 500;
}
.table_title{
    background-color: #4D8084;
}
.item_content{
    color: #454545;
    background-color: #FFFFFF;
    &:hover{
        cursor: pointer;
    }
}
.item_content:hover{
    background-color: #F3F3F9;
}
